/* Body */
$max-width: 1300px;
$min-width: 320px;

/* Layout */
$layout-gap--left-mobile: 15px;
$layout-gap--right-mobile: 15px;
$layout-gap--left-desktop: 20px;
$layout-gap--right-desktop: 20px;

/* Header */
$headerHeight: 100px;

/* Main */
$titleFontFamily: 'Raleway', sans-serif;
